.card {
    font-family: 'Caveat', cursive;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 40px;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
.card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.card-price {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  background-color:  #2473a486;
  padding: 0 10px;
  line-height: 40px;
  font-weight: 800;
}
.card-price:before {
  position: absolute;
  right: 100%;
  border-style: solid;
  border-width: 0 12px 40px 0;
  border-color: transparent  #2473a486 transparent;
  content: '';
  top: 0;
} 
.card-img:hover
  {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
  }
.card-img__wrapper {
  overflow: hidden;
}
.btn-card {
  background-color: rgba(7, 52, 255, 0.678);
}
.card-img__wrapper {
  max-height: 250px;
}