.m-icons {
  font-size: 30px;
  color: rgb(133, 114, 151);
}
.m-icons:hover {
  color: rgba(68, 201, 224, 0.63);
}
.nav-title {
  font-family: "Caveat", cursive;
  font-size: 20px;
}
.mx-2:hover {
  text-decoration: none;
}
.cart-status {
  position: absolute;
  top: -6.5px;
  right: -15px;
  text-decoration: none;
}
.navbar {
  background-color: #f5f5f5ef;
  
}