.slider {
  position: relative;
  max-width: 100%;
  height: 40vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px 120px;
}
.slider-img {
  width: 100%;
  height: auto;
}
.slide-icon {
  font-size: 1.4vw;
  color: rgb(120, 120, 230);
  }
.slide {
  position: relative;
  min-width: 100%;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
}
.slide-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  transition: 0.5s;
}
.slide-btn:hover {
  cursor: pointer;
  color: whitesmoke;
  background: none;
  border: none;
  outline: none;
  }
  .slide-btn:focus {
    outline: none;
    }
  .slide-icon:hover {
    color: whitesmoke;
  }
#goLeft {
  left: 0;
}
#goRight {
  right: 0;
}
@media (max-width: 1024px) {
  .slider  {
    display: none;
  }
}